.customerdiv{
    background-color: #f0f0f7;
    height: 80.35vh;
    overflow-x: hidden;
}
.customername{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    margin-top: 2rem;
}
.customerName{
    margin-left: 5rem;
    width: 125px;
  height: 40px;
 
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #43425d;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
}
.inputSearchBox{
   
    margin-right: 10%;
    width: 27rem;
}
.comment{
 
  flex-direction: column;
    background-color: #f0f0f7;
    width: 82%;
   
    margin-left: 5rem;
    columns: 2 auto;
    margin-top: 1rem;
     
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
      
    

}
.comment1{
 
    flex-direction: column;
      background-color: #f0f0f7;
      width: 82%;
      margin-left: 5rem;
      
      display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
      margin-top: 1rem;
      
  
  }
.commentdetails{
    width:27rem;
 margin-bottom: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  
}
.newarraydata{
    width:27rem;
 margin-bottom: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
}
.contentfooter{
    background-color:white;
    width: 100%;
    height: 2.5rem;
    margin-top: 0%;
    border-top: solid 1.5px #f0f0f7;

}
.footerIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    width: 50%;
  
    height: 100%;
}
.footericon1{
    margin-top: 0.4rem;
    font-size: 1.3rem;
    color: #cecfd0;
   
}
.contentheader{
    width: 100%;
    
  display: flex;
    flex-direction: row;
    background-color: white;
}
.imagediv{
    
    width: 20%;
    height: 20vh;
}
.editablecontentdiv{
    
    width: 79%;
    margin-left: 1%;
    height: 20vh;
   
}
.imageinsidecontent{
    
    height: 20vh;
    margin-top: 1.5rem;
    margin-left: 0.8rem;
}
.seteditingoption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 1.5rem;
}
.indiname{
   
   
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
.editandremove{
    display: flex;
    flex-direction: row;
    margin-top: -3%;

}
.cancelicon{
    color: #a4afb7;
    font-weight: 800;
    margin-right: 1rem;
    margin-top: -2%;
    cursor: pointer;
}
.editicon{
    color: #a4afb7;
    margin-right: 1rem;
    cursor: pointer;
}
.stateName{
   
  opacity: 0.5;
  
  font-family: 'SourceSansPro-Regular', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  margin-top: 0.5rem;
}
.mobilenumber{
    
  opacity: 0.5;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
}

.prdiv{
    width: 80%;
    background-color: red;
    height: 100%;
    display: inline-flexbox;
    float: left;
  width: 80%;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  columns: 2 auto;
   
    
}
.prcontent{
    width: 150px;
    background-color: bisque;
}
.modelshow{
background-color:white;
border: 1px solid rgb(204, 199, 199);
width: 40%;
height: 40%;
position: fixed;
top: 30%;
left: 35%;
padding: 2% 4%;
transition: .5s ease ease-in-out;
}
.modelhide{
  background-color:rgb(245, 239, 239);
  border: 1px solid rgb(204, 199, 199);
  width: 40%;
  height: 40%;
  position: fixed;
  top: -40%;
  left: 35%;
  padding: 2% 4%;
  transition: .5s ease ease-in-out;
  }
.inputeditbox{
    margin-top: 1rem;
}
.modelshow .input-sec{
width: 100%;
height: 23%;
background-color: rgb(255, 255, 255);
border: none;
outline: none;
border-bottom: 1px solid rgb(194, 182, 182);
margin-top: 14%;

}
.modelshow .btn-click{
  width: 100%;
height: 23%;
background-color: aqua;
margin-top: 8%;
}
.modelhide .input-sec{
  width: 100%;
  height: 23%;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  margin-top: 14%;
  
  }
  .modelhide .btn-click{
    width: 100%;
  height: 23%;
  background-color: aqua;
  margin-top: 8%;
  }
.savenamebutton{
    margin-top: 2rem;
}

  placeholder {
    color: transparent;
  }
  
  placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }

  .footerbutton{
    width: 35px;
    height: 35px;
  
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    border-radius: 4px;
    border: solid 1px #e8e9ec;
    background-color: white;
    margin-left: 0.4rem;
    cursor: pointer;
  }
  .footerbutton1{
    width: 35px;
    height: 35px;
  
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    border-radius: 4px;
    border: solid 1px #e8e9ec;
    background-color: #3b86ff;
    margin-left: 0.4rem;
    cursor: pointer;
  }
  .footerbar{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 93%;
    left: 62%;
  }
  