.topnav-fixed{
 width: 100%;
 height: 10%;
 background-color: white;
  font-family: 'SourceSansPro-Regular', sans-serif;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topnav-fixed .leftsideicons{
 position: absolute;
 display: flex;
 align-items: center;
 
 width: 10%;
 height: 50%;
 flex-direction: row;
 justify-content: space-between;
 left: 76%;
 padding: 0% 1.6%;
 border-right: 1px solid black;
 color: silver;
}
.topnav-fixed  .input-top{
  display: flex;
  align-items: center;
 
  background-color: white;
  width: 60%;
  height: 70%;
  margin-left: 1%;
}
.topnav-fixed .input-top .real-input{
  width: 80%;
  height: 80%;
  outline: none;
  border: none;
  background-color: white;
  margin-left: 1%;
}
.topnav-fixed .input-top .real-input::placeholder{
  color: #4d4f5c;
}
.topnav-fixed .small-user{
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  position: absolute;
  width: 11%;
  left: 87%;
  justify-content: space-between;
  align-items: center;
}


.search-box{
  display: flex;
  flex-direction: row;
  
  
 
}
 .search-box1{
   margin-top: -0.5rem;
 }

 .btn-search1{
   color: #bcbccb;
 }
  .serchtext{
    color:#4d4f5c;
    font-family: 'SourceSansPro-Regular', sans-serif;
    margin: 0 0 0 10px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
  }

  .leftsidebar{
    display: flex;
    flex-direction: row;
    
    color: #ebebf2;
    width: 31%;
    font-family: 'SourceSansPro-Regular', sans-serif;
  }
  .Divider {
    width: 1.5px;
    height: 28px;
    margin: 5px 21px 5px 17px;
    background-color: #ebebf2;
    font-family: 'SourceSansPro-Regular', sans-serif;
  }
  .iconnav1{
    margin-right: 1rem;
    font-family: 'SourceSansPro-Regular', sans-serif;
  }
  .iconnav2{
    margin-right: 1rem;
    font-family: 'SourceSansPro-Regular', sans-serif;
  }
  .iconnav3{
    margin-right: 1rem;
    font-family: 'SourceSansPro-Regular', sans-serif;
    display: flex;
    flex-direction: row;
  }
  .iconnav4{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: -0.8rem;
    font-family: 'SourceSansPro-Regular', sans-serif;
    
  }
  .budge{
    margin-top: -0.7rem;
    position: absolute;
    left: 75.5%;
    
  }
  .iconnav5{
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'SourceSansPro-Regular', sans-serif;
   
  }
  .iconnav6{
    width: 20px;
   margin-top: 0.2rem;
   margin-left: 0.5rem;
   font-family: 'SourceSansPro-Regular', sans-serif;
  }
  .avtar{
    margin-top: -0.5rem;
  }
  .profilrname{

  font-family: 'SourceSansPro-Regular', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #4d4f5c;

  }