body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color:#f0f0f7;
    position: absolute;
    
    
    
   
  }
  .card{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color:#f0f0f7 ;
    position: relative;
   
  }
  .craddir{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .card .carddiv{
      /* background-color: red; */
      height: 110vh;
      width: 39vw;
      position: absolute;
      top: 3rem;
      left: 6rem;
  }
  .firstCartGroup{
    width: 15.125rem;
    height: 18.875rem;
    
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  }
  .STARTER {
    width: 100%;
    height: 4rem;
    padding-top: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    /* font-size: 28px; */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    
    
    

  }
  .Pricing {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.21;
  letter-spacing: normal;

    height: 4rem;
  
  }

  .Per-agent-mo {
      width: 100%;
    height: 25px;
   margin-top: 1.1rem;
    opacity: 0.5;
    font-family: 'SourceSansPro', sans-serif;
    
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: center;
  
   
  }
  .discrption{
     text-align: center;
      align-items: center;
      margin-left: 3rem;
      margin-right: 3rem;
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 0.8rem;
     
      width: 9rem;
      
  }

  .buybuttondiv{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     
      width: 100%;
      height: 5rem;
      font-family: 'SourceSansPro-Regular', sans-serif;

  }
  .buybutton{
    width: 120px;
    height: 35px;
    margin: 25px 70px 0 69px;
    padding: 8px 40px 6px;
    border-radius: 4px;
font-family: 'SourceSansPro-Regular', sans-serif;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
       
    
  }

  .carddiv2{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .LabelBG {
    width: 65px;
    height: 24px;
    margin-top: 1rem;
    margin-left: 1.3rem;
    padding: 4px 19px 2px 20px;
    border-radius: 14px;
    font-family: 'SourceSansPro-Regular', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  }

.insidediv{
  background-color: #ffffff;
  width: 100%;
  height: 5rem;


  }
  .firstCartGroup1{
    width: 15.125rem;
    height: 18.875rem;
   
    
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  }
  .outerdiv{
    width: 100%;
    height: 86.65%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

  }
  .outerdiv1{
    width: 100%;
    height: 53.54%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   

  }
  .price2{
    font-family: SourceSansPro;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  margin-right: 1rem;
  margin-top: -1.15rem;
  color: #43425d;
  font-family: 'SourceSansPro-Regular', sans-serif;

  }

  .Product-name {
   
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 15px;
    margin-top:1rem;
    padding-left: 1.1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;

  
    color: #4d4f5c;
    
  }
 
  .productdescription{
    
    
    padding-top: 0.3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .beforeprice{
    opacity: 0.5;
    font-family: 'SourceSansPro-Regular', sans-serif;
    
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
  }
  .price{
    
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color:#3b86ff;
    margin-top: -1%;
  }
  #box {
    width: 15.125rem;
    height: 18.875rem;
   
    
    /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04); */
    
    position: relative;
}
.labelContent{
  
  width: 0px;
  height: 0px;
 
  width: 0; 
	height: 0; 
	border-top: 70px solid #ff6565;
	border-bottom: 70px solid transparent;
	border-right: 70px solid transparent;
  
}
.labelContent span {
  position:absolute;
  top: 10px;
  width: 100px;
  left: -30px;
  text-align: center;
  font-size: 16px;
  font-family: arial;
  transform: rotate(-45deg);
  display:block;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: white;
}

.lastdiv{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -18%;
}
.Rectangle-741 {
 margin-right: 6px;
  width: 20px;
  height: 20px;
  padding: 1px 4px 1px;
  border-radius: 4px;
  background-color: #ff6565;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #ffffff;
  border: solid 1px #e9e9f0;
  

}
.Rectangle-740 {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  padding: 1px 4px 1px;
  border-radius: 4px;
  background-color: white;
  border: solid 1px #e9e9f0;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #4d4f5c;
 

}
.Rectangle-742 {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  
  padding-left: 6px;
  border-radius: 4px;
  background-color: white;
  border: solid 1px #e9e9f0;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #4d4f5c;
  

}

.Rectangle-743 {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 4px;
  background-color: white;
  border: solid 1px #e9e9f0;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #4d4f5c;
 

}
.firstlastdiv{
  display: flex;
  flex-direction: row;
  margin-left:1rem;
}

.cut{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color:#ff6565;
  text-decoration: line-through;
  margin-right: 1.5rem;
  
}