

body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color:#ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    
  }
  body .firstdiv{
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
  }
  body .firstdiv .seconddiv{
    background-image: linear-gradient(40deg, #5c6ccd, #5753b5 100%);
    width: 50vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
  }
  body .firstdiv .logindiv{
    background-color:#ffffff;
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
  }
  
  .Logo1{
    /* width: 14.625rem;
    height: 3.125rem;
    margin: 0 5.266rem 0.5rem 5.188rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.188rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 7px;
    text-align: left;
    color: var(--dusk); */

    position: relative;
    left: 32%;
    top:20%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.188rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 5px;
    color: var(--dusk);
  }

